* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
}

h4 {
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}
/*hr dots for placing between sections*/
hr {
  margin: 1.5em 0;
  text-align: center;
  border: none;
  padding: 1.5em;
}

hr:before {
  content: '';
  display: inline-block;
  width: 150px;
  height: 4px;
  border-radius: 50%;
  background: #ddd;
  margin: 0 5.5em;
}

hr:after {
  content: '';
  display: inline-block;
  width: 150px;
  height: 4px;
  border-radius: 100%;
  background: #dcd;
  margin: 0 5.5em;
}

/*---------------- MAIN SECTION FULL SCREEN ---------------- */



main img {
  /* position: relative; */
  height: 25vh;
	width: 25vh;
  border-radius: 50%;
  border: 1px solid #AAAAAA;
  padding: 1px;
  box-shadow: 4px 8px 12px #AAAAAA;
  transform: scale(1.0);
  transition-duration: 0.9s;
  animation-timing-function: linear;
}

main img:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
  animation-timing-function: linear;
}

main {
  height: 100vh;
	display: grid;
	grid-template-columns: 2% 1fr 1fr 1fr 2%;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	". . box1 text1 ."
	". text2 box2 . ."
	". . box3 text3 . ";
	justify-items: center;
}

h3 {
  font-size: 1.4em;
  letter-spacing: 0.15em;
  padding-bottom: 10px;
}

/* remove border from hyperlinks */
a {
  outline: none;
}

.text1, .text2, .text3 {
  font-size: 1.28em;
  font-weight: 500;
  line-height: 1.7em;
  letter-spacing: 0.1em;
}

.text1 {
  margin: 20px 100px 20px 0px;
	grid-area: text1;
	align-self: center;
	justify-self: center;
	text-align: start;
}
.text2 {
  margin: 20px -10px 20px 120px;
	grid-area: text2;
	align-self: center;
	justify-self: center;
	text-align: start;
}
.text3 {
  margin: 20px 100px 20px 0px;
	grid-area: text3;
	align-self: center;
	text-align: start;
}


.box1 {
  grid-area: box1;
	width: auto;
	display: flex;  
	justify-self: center;
  align-self: center;
  animation: box1_anim 0.5s linear; 
}

.box2 {
  opacity: 0;
  grid-area: box2;
	width: auto;
	display: flex;  
	justify-self: center;
  align-self: center; 
  animation: box2_anim 0.5s linear 0.7s forwards; 
	
}
.box3 {
  opacity: 0;
  grid-area: box3;
	width: auto;
	display: flex;  
	justify-self: center;
	align-self: center; 
  animation: box3_anim 0.5s linear 1.2s forwards; 
}
.box3 h1 {
  text-align: center;
	
}
#box1_h3 {
  opacity: 0;
  animation: box1_h3 0.5s linear 0.2s  forwards;
}
#box2_h3 {
  opacity: 0;
  animation: box1_h3 0.5s linear 0.9s  forwards;
}
#box3_h3 {
  opacity: 0;
  animation: box1_h3 0.5s linear 1.5s  forwards;
}

.text1 p{
  opacity: 0;
  animation: box1_p 0.5s linear 0.2s  forwards;
}
.text2 p{
  opacity: 0;
  animation: box2_p 0.5s linear 0.9s  forwards;
}
.text3 p{
  opacity: 0;
  animation: box3_p 0.5s linear 1.5s  forwards;
}

/*---------------- END OF MAIN SECTION FULL SCREEN ---------------- */



ul li {
  list-style-type: none;
  padding: 2px;
}
#chevron-only {
  visibility: hidden;
}

/*--------footer section-------*/
footer {
  width: 100%;
  background-color: #222;
  padding: 50px 20px;
  border-radius: 1% 1% 0% 0%;
}
#footer-list01 li {
  float: left;
  font-size: 20px;
  color: #eee;
  padding: 5px;
}

footer a:link {
  text-decoration: none;
}

footer a:visited {
  color: #ddd;
  text-decoration: none;
}

footer a:hover {
  color: green;
}

#group1  {
  padding-top: 10px;
}

/*for new responsive menubar - goes across top*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0,0,0,.87);
  font-family: "Poppins", sans-serif;
}

/*styling for all items in logo*/
.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

/*spacing for all items in ul*/
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

/*removing the bullets from the menu items*/
.nav-links li {
  list-style: none; 
}

/*nav link menu item styling*/
.nav-links a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px; 
  font-weight: bold;
  font-size: 16px;
}

/*burger icon is not displayed in normal screen size*/
.burger {
  display: none;
  cursor: pointer;
}

/*this creates the burger icons*/
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  border-radius: 2px;
  transition: all 0.8s ease;

}

/*responsive section for small screen for menu icon*/

@media screen and (max-width: 1024px){
    .nav-links {
        width: 42%;
  }
}

@media screen and (max-width: 768px){
  body {
    overflow-x: hidden; /* this keeps it from scrolling */
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(0,0,0,.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%); /* this will move the menu off the screen */
    transition: transform 0.3s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

/*make the transform back to zero when we click the burger*/
/* z-index causes the slide-out menu to stay above the objects underneath it */
.nav-active {
  transform: translateX(0%);
  z-index: 1000;    
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* MAKE HAMBURGER INTO X AT SMALLER SCREEN */
.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px); 

}


/* --------------- MAIN IMAGES ANIMATION  ----------------- */

@keyframes box1_anim{
  from{
    opacity: 0;
    transform: translate(-100px);
  }
  to{
    opacity: 1;
  }
}
@keyframes box2_anim{
  from{
    opacity: 0;
    transform: translate(100px);
  }
  to{
    opacity: 1;
  }
}
@keyframes box3_anim{
  from{
    opacity: 0;
    transform: translate(-100px);
  }
  to{
    opacity: 1;
  }
}

@keyframes box1_h3 {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY();
  }
}

@keyframes box1_p {
  from {
    opacity: 0;
    transform: translatex(-100%);
  }
  to {
    opacity: 1;
    transform: translateY();
  }
}
@keyframes box2_p {
  from {
    opacity: 0;
    transform: translatex(100%);
  }
  to {
    opacity: 1;
    transform: translateY();
  }
}
@keyframes box3_p {
  from {
    opacity: 0;
    transform: translatex(-100%);
  }
  to {
    opacity: 1;
    transform: translateY();
  }
}
/*---------------- MAIN SECTION RESPONSIVE MEDIA QUERY---------------- */

@media screen and (max-width: 768px) {
  main img {
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
  }

  main {
    height: 100vh;
    display: grid;
    grid-template-columns: 2% 1fr 2%;
    grid-template-rows: 1fr;
    grid-template-areas:
    ". box1 ."
    ". text1."
    ". box2 ."
    ". text2."
    ". box3 ."
    ". text3.";

    justify-items: center;
  }

  h3 {
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 0.12em;
    padding-bottom: 20px;
  }
  
  .text1 .text2, .text3 {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.7em;
  }

  .text1 {
    padding: 20px 20px 35px 20px;
    margin: 20px 0px;
    grid-area: text1;
    align-self: center;
    justify-self: center;
    text-align: start;
  }
  .text2 {
    padding: 20px 20px 35px 20px;
    margin: 20px 0px;
    grid-area: text2;
    align-self: center;
    justify-self: center;
    text-align: start;
  }
  .text3 {
    padding: 20px 20px 35px 20px;
    margin: 20px 0px;
    grid-area: text3;
    align-self: center;
    text-align: start;
  }


  .box1 {
    padding-top: 40px;
    grid-area: box1;
    width: auto;
    display: flex;  
    justify-self: center;
    align-self: center; 
  }

  .box2 {
    grid-area: box2;
    width: auto;
    display: flex;  
    justify-self: center;
    align-self: center; 
    
  }
  .box3 {
    grid-area: box3;
    width: auto;
    display: flex;  
    justify-self: center;
    align-self: center;
  }
  .ui.segment {
    top: 650px ;
  }

}
/*---------------- MAIN SECTION RESPONSIVE MEDIA QUERY---------------- */
