* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


h1 {
	text-align: center;
}

h4 {
	padding-left: 20px;
	font-family: "Poppins", sans-serif;
}
/*--------- set up row for grid system ---------*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* set up col- convention for grid system*/
[class*="col-"] {
  float: left;
  padding: 15px 15px 15px 15px;
}

/* grid for columns*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.responsive {
	flex: auto;
	width:100%;
	height:auto;
	padding-right:1%;
}

#img-id {
	border-radius: 2%;
}

.vert-align {
	margin-left:33%;
	float:left; 
	height: auto;
	width: auto;	
} 


#title-id {
	padding-bottom: 50px;
	letter-spacing: 2px;
}

.container-padding {
	padding: 8%;
}

/*hr dots for placing between sections*/
hr {
  margin: 1.5em 0;
  text-align: center;
  border: none;
  padding: 1.5em;
}

hr:before {
  content: '';
  display: inline-block;
  width: 150px;
  height: 4px;
  border-radius: 50%;
  background: #ddd;
  margin: 0 5.5em;
}

hr:after {
  content: '';
  display: inline-block;
  width: 150px;
  height: 4px;
  border-radius: 100%;
  background: #dcd;
  margin: 0 5.5em;
}

ul li {
	list-style-type: none;
	padding: 2px;
}


/*--------footer section-------*/
footer {
	width: 100%;
	background-color: #222;
	padding: 50px 20px;
	border-radius: 1% 1% 0% 0%;
}
#footer-list01 li {
	float: left;
	font-size: 20px;
	color: #eee;
	padding: 5px;
}

footer a:link {
	text-decoration: none;
}

footer a:visited {
	color: #ddd;
	text-decoration: none;
}

footer a:hover {
	color: green;
}

#group1  {
	padding-top: 10px;
}

a.icons8 {
	/*float: middle;*/
	/*padding-top: 10px;*/
	/*padding-left: 10px;*/
}

/*for new responsive menubar - goes across top*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0,0,0,.87);
  font-family: "Poppins", sans-serif;
}

/*styling for all items in logo*/
.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

/*spacing for all items in ul*/
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}

/*removing the bullets from the menu items*/
.nav-links li {
  list-style: none; 
}

/*nav link menu item styling*/
.nav-links a{
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px; 
  font-weight: bold;
  font-size: 16px;
}

/*burger icon is not displayed in normal screen size*/
.burger {
  display: none;
  cursor: pointer;
}

/*this creates the burger icons*/
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  border-radius: 2px;
  transition: all 0.8s ease;

}

/*responsive section for small screen*/

@media screen and (max-width: 1024px){
    .nav-links {
        width: 42%;
  }
}

@media screen and (max-width: 768px){
  body {
    overflow-x: hidden; /* this keeps it from scrolling */
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(0,0,0,.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%); /* this will move the menu off the screen */
    transition: transform 0.3s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
  /*make buttons disappear in mobile mode*/
  .ui.primary.button {
    visibility: hidden;
  }
}

/*make the transform back to zero when we click the burger*/
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px); 

}
