* {
	box-sizing: border-box;
}



body {
    padding: 30px;
}

h1 {
	text-align: center;
	font-size: 2.0em;
}
/* set up row for grid system */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* set up col- convention for grid system*/
[class*="col-"] {
  float: left;
  padding: 15px 15px 15px 15px;
  /*border: 1px solid red;*/
}

/* grid for columns*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.responsive {
	flex: auto;
	width:100%;
	height:auto;
	padding-right:1%;
}
.vert-align {
	margin-left:33%;
	float:left; 
	height: auto;
	width: auto;	
} 



#title-id {
	padding-bottom: 50px;
}

.container-padding {
	padding: 8%;
}

/*hr dots for placing between sections*/
hr {
  margin: 1.5em 0;
  text-align: center;
  border: none;
  padding: 1.5em;
}

hr:before {
  content: '';
  display: inline-block;
  width: 150px;
  height: 4px;
  border-radius: 50%;
  background: #ddd;
  margin: 0 5.5em;
}

hr:after {
  content: '';
  display: inline-block;
  width: 150px;
  height: 4px;
  border-radius: 100%;
  background: #dcd;
  margin: 0 5.5em;
}

ul li {
	list-style-type: none;
	padding: 2px;
}

.sidebar a:link {
	/*color: black;*/
	text-decoration: none;
}

.sidebar a:visited {
	color: black;
	text-decoration: none;
}

.sidebar a:hover {
	color: green;
	/*text-decoration: underline;*/
}

.sidebar a:active {
	/*color: black;*/
	/*text-decoration: underline;*/
}

.sidenav {
	width: 120px;
	position: fixed;
	z-index: 1;
	top: 20px;
	left: 2px;
	background: #FFF;
	overflow-x: hidden;
	padding: 8px 0;
}

.sidenav a {
	padding: 6px 10px 6px 3px;
	text-decoration: none;
	font-size: 20px;
	/*color: black;*/
	display: block;
}

.sidenav a:hover {
	color: green;
	font-size: 1.55em;
}

.main {
	margin-left: 140px; /* Same width as the sidebar + left position in px */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 16px;}
}


/*
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}*/

/*--------footer section-------*/
footer {
	width: 100%;
	background-color: #222;
	padding: 50px 20px;
	border-radius: 1% 1% 0% 0%;
}
#footer-list01 li {
	float: left;
	font-size: 20px;
	color: #eee;
	padding: 5px;
}

footer a:link {
	text-decoration: none;
}

footer a:visited {
	color: #ddd;
	text-decoration: none;
}

footer a:hover {
	color: green;
}
